<div class="row login">
  <div class="five columns centered panel devise-window login-box">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
      <h3>Sign in</h3>

      <hr>

      <%= render partial: 'layouts/flashes' %>

      <%= f.input :email, label: false, placeholder: 'Email' %>
      <%= f.input :password, label: false, placeholder: 'Password' %>

      <%= f.input :remember_me, as: :boolean, label: 'Remember me for 2 weeks' %>

      <%= f.button :submit, 'Sign in', class: 'right' %>
    <% end %>
  </div>
</div>
