<div class="six columns offset-by-three">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3>Sign in</h3>

    <%= render partial: 'layouts/flashes' %>
    
    <%= f.email_field :email, placeholder: 'Email', class: 'twelve' %>

    <%= f.password_field :password, placeholder: 'Password', class: 'twelve' %>

    <% if devise_mapping.rememberable? -%>
      <label><%= f.check_box :remember_me %> Remember me</label>
    <% end -%>

    <%= f.submit "Sign in", class: 'button' %>
  <% end %>
</div>
