<div class="five columns centered panel login-window">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3>Sign in</h3>
		<hr/>
    <%= devise_error_messages! %>

    <%= f.email_field :email, placeholder: 'Email', class: 'twelve' %>

    <%= f.password_field :password, placeholder: 'Password', class: 'twelve' %>
		<input class="boolean optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
		Remember me for 2 weeks<br/><br/>
    <%= f.submit "Sign in", class: 'button right' %>
		<%= link_to "Forgot your password?", new_password_path(resource_name), class: 'small forgot' %>
  <% end %>
	
</div>
