<div class="five columns centered panel">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3>Sign in</h3>

    <%= devise_error_messages! %>

    <%= f.email_field :email, placeholder: 'Email', class: 'twelve' %>

    <%= f.password_field :password, placeholder: 'Password', class: 'twelve' %>

    <%= f.submit "Sign in", class: 'button' %>
  <% end %>

  <%= render "users/shared/links" %>
</div>
