<p>Hello,</p>

<p>We've been tracking your store <%= @shop.name %> and here's your daily report:</p>

<p>
  Average Order size: <%= @shop.avg_purchase %><br>
  Conversion Rate: <%= @shop.conversion_rate %><br>
  Total Sales Today: <%= number_to_currency @shop.total_sales_today %><br>
</p>

<p>Your Tops:</p>

<p>
  <% if @shop.top_links.blank? %>
  <% else %>
		Top links:
    <ul>
      <% @shop.top_links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <% if @shop.top_searches.blank? %>
  <% else %>
		Top searches:
    <ul>
      <% @shop.top_searches.each do |search| %>
        <li><%= search %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <% if @shop.top_products.blank? %>
  <% else %>
		Top products:
    <ul>
      <% @shop.top_products.each do |product| %>
        <li><%= product %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>Have a nice day!</p>
