<p>Hello,</p>

<p>We've been tracking your store and have some stats to share with you:</p>

<p>
  Average purchase: <%= @shop.avg_purchase %><br>
  Conversion rate: <%= @shop.conversion_rate %><br>
  Total sales today: <%= number_to_currency @shop.total_sales_today %><br>
</p>

<p>Your tops:</p>

<p>
  Top links:
  <% if @shop.top_links.blank? %>
    none
  <% else %>
    <ul>
      <% @shop.top_links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  Top searches:
  <% if @shop.top_searches.blank? %>
    none
  <% else %>
    <ul>
      <% @shop.top_searches.each do |search| %>
        <li><%= search %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  Top products:
  <% if @shop.top_products.blank? %>
    none
  <% else %>
    <ul>
      <% @shop.top_products.each do |product| %>
        <li><%= product %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>Have a nice day!</p>
