<div class="twelve columns">
  <div class="row">
    <h3>Users <small><%= User.count %> users</small></h3>

    <table class="twelve">
      <thead>
        <tr>
          <th class="three">Name</th>
          <th class="three">Email</th>
          <th class="two">Stores</th>
          <th class="two">Member since</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= pluralize user.shops.count, 'shop' %></td>
            <td><%= user.created_at.to_formatted_s :short %></td>
            <td><%= link_to 'Act as', new_user_masquerade_path(user), class: 'button' %></td>
          </tr>
        <% end %>
      </table>

      <%= paginate @users %>
    </div>
  </div>
