<div class="twelve columns">
  <div class="row">
    <div class="two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="conversionRate"}}<h2>{{percentage view.animatedValue}}</h2>{{/view}}
      {{view SS.GaugeView numberBinding="conversionRate" maxNumberBinding="maxConversionRate"}}
      <h5 class="subheader"><strong>Conversion</strong> rate</h5>
      {{#view SS.AnimatedNumbersView valueBinding="maxConversionRate"}}
        <h5 class="subheader short">30 day max <strong>{{percentage view.animatedValue}}</strong></h5>
      {{/view}}
    </div>
    <div class="two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="avgPurchase"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      {{view SS.GaugeView numberBinding="avgPurchase" maxNumberBinding="maxAvgPurchase"}}
      <h5 class="subheader"><strong>Avg</strong> purchase</h5>
      {{#view SS.AnimatedNumbersView valueBinding="maxAvgPurchase"}}
        <h5 class="subheader short">30 day max <strong>{{money view.animatedValue}}</strong></h5>
      {{/view}}
    </div>
    <div class="two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="totalSalesToday"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      <h5 class="subheader"><strong>Total</strong> sales</h5>
      <h5 class="subheader short">Today</h5>
    </div>
    <div class="six columns chart">
      {{view SS.FlotChartView seriesBinding="checkoutDistributionSeries" optionsBinding="checkoutDistributionChartOptions" class="co-distr-chart"}}
    </div>
  </div>

  <div class="row content">
    {{view SS.DashboardTopColumnView title="Products" subtitle="past 24 hours" topItemsBinding="topProducts" classNames="four"}}
    {{view SS.DashboardTopColumnView title="Links" subtitle="past 24 hours" topItemsBinding="topLinks" classNames="four"}}
    {{view SS.DashboardTopColumnView title="Searches" subtitle="past 24 hours" topItemsBinding="topSearches" classNames="four"}}
  </div>
</div>
