<div class="twelve columns">
  <div class="row">
		<div class="three columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="conversionRate"}}<h2>{{percentage view.animatedValue}}</h2>{{/view}}
      {{view SS.GaugeView numberBinding="conversionRate" maxNumberBinding="maxConversionRate"}}
      <h5 class="subheader"><strong>CONVERSION</strong> RATE</h5>
      {{#view SS.AnimatedNumbersView valueBinding="maxConversionRate"}}
        <h5 class="subheader short">30 day max <strong>{{percentage view.animatedValue}}</strong></h5>
      {{/view}}
    </div>
    <div class="three columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="avgPurchase"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      {{view SS.GaugeView numberBinding="avgPurchase" maxNumberBinding="maxAvgPurchase"}}
      <h5 class="subheader"><strong>AVG</strong> PURCHASE</h5>
      {{#view SS.AnimatedNumbersView valueBinding="maxAvgPurchase"}}
        <h5 class="subheader short">30 day max <strong>{{money view.animatedValue}}</strong></h5>
      {{/view}}
    </div>
		<div class="three columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="revenuePerVisit"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      <h5 class="subheader"><strong>REVENUE</strong> PER VISITOR</h5>
      {{#view SS.AnimatedNumbersView valueBinding="maxRevenuePerVisit"}}
        <h5 class="subheader short">30 day max <strong>{{money view.animatedValue}}</strong></h5>
      {{/view}}
    </div>
    <div class="three columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="totalSalesToday"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      <h5 class="subheader"><strong>SALES</strong> TODAY</h5>
      {{#view SS.AnimatedNumbersView valueBinding="maxTotalSalesToday"}}
        <h5 class="subheader short">30 day max <strong>{{money view.animatedValue}}</strong></h5>
      {{/view}}
    </div>
  </div>

  <div class="row content">
    <div class="twelve columns chart">
      {{view SS.FlotChartView seriesBinding="checkoutDistributionSeries" optionsBinding="checkoutDistributionChartOptions" class="co-distr-chart"}}
      {{#view SS.AnimatedNumbersView valueBinding="totalOrdersToday"}}
        <h4 class="text-center">{{number view.animatedValue}} orders today</h4>
      {{/view}}
    </div>
  </div>

  <div class="row content">
    {{view SS.DashboardTopColumnView title="Products" subtitle="Past 24 hours" topItemsBinding="topProducts" classNames="four"}}
    {{view SS.DashboardTopColumnView title="Links" subtitle="Past 24 hours" topItemsBinding="topLinks" classNames="four"}}
    {{view SS.DashboardTopColumnView title="Searches" subtitle="Past 24 hours" topItemsBinding="topSearches" classNames="four"}}
  </div>
</div>
