<div class="twelve columns">
  <div class="row">
    <div class="three mobile-two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="conversionRate"}}<h2>{{percentage view.animatedValue}}</h2>{{/view}}
      {{view SS.GaugeView numberBinding="conversionRate" maxNumberBinding="maxConversionRate"}}
      <h5 class="subheader title"><strong>Conversion</strong> rate</h5>
      <h5 class="subheader short">30 day max <strong>{{percentage maxConversionRate}}</strong></h5>
    </div>
    <div class="three mobile-two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="avgPurchase"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      {{view SS.GaugeView numberBinding="avgPurchase" maxNumberBinding="maxAvgPurchase"}}
      <h5 class="subheader title"><strong>Avg</strong> purchase</h5>
      <h5 class="subheader short">30 day max <strong>{{money maxAvgPurchase}}</strong></h5>
    </div>
    <div class="three mobile-two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="revenuePerVisit"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      <h5 class="subheader title"><strong>Revenue</strong> per visitor</h5>
      <h5 class="subheader short">30 day max <strong>{{money maxRevenuePerVisit}}</strong></h5>

      {{#view SS.AnimatedNumbersView valueBinding="liveVisitors"}}<h2>{{number view.animatedValue}}</h2>{{/view}}
      <h5 class="subheader title"><strong>Live</strong> visitors</h5>
    </div>
    <div class="three mobile-two columns metric">
      {{#view SS.AnimatedNumbersView valueBinding="totalSalesToday"}}<h2>{{money view.animatedValue}}</h2>{{/view}}
      <h5 class="subheader title"><strong>Sales</strong> today</h5>
      <h5 class="subheader short">30 day max <strong>{{money maxTotalSalesToday}}</strong></h5>
    </div>
  </div>

  <div class="row content">
    <div class="twelve columns chart">
      {{view SS.FlotChartView seriesBinding="checkoutDistributionSeries" optionsBinding="checkoutDistributionChartOptions" class="co-distr-chart"}}
      {{#view SS.AnimatedNumbersView valueBinding="totalOrdersToday"}}
        <h4 class="text-center">{{number view.animatedValue}} orders today</h4>
      {{/view}}
    </div>
  </div>

  <div class="row content">
    {{view SS.DashboardTopColumnView title="Products" subtitle="Past 24 hours" topItemsBinding="topProducts" classNames="four"}}
    {{view SS.DashboardTopColumnView title="Links" subtitle="Past 24 hours" topItemsBinding="topLinks" classNames="four"}}
    {{view SS.DashboardTopColumnView title="Searches" subtitle="Past 24 hours" topItemsBinding="topSearches" classNames="four"}}
  </div>
</div>
