<h3>Settings</h3>

<div class="row">
  <div class="two columns">
    <label class="right inline">Shop name</label>
  </div>
  <div class="ten columns">
    {{view Ember.TextField valueBinding="name" placeholder="e.g. My Store" class="five"}}
  </div>
</div>
<div class="row">
  <div class="two columns">
    <label class="right inline">Shop domain</label>
  </div>
  <div class="ten columns">
    {{view Ember.TextField valueBinding="domain" placeholder="e.g. somestore.myshopify.com" class="five"}}
  </div>
</div>
<div class="row">
  <div class="two columns">
    <label class="right inline">Timezone</label>
  </div>
  <div class="ten columns">
    {{view Ember.Select contentBinding="SS.timezones" optionValuePath="content.value" optionLabelPath="content.name" valueBinding="timezone" class="five"}}
  </div>
</div>
<div class="row">
  <div class="ten columns offset-by-two">
    <label class="inline">
      {{view Ember.Checkbox checkedBinding="sendDailyNotifications"}}
      Send daily reports
    </label>
    <label class="inline">
      {{view Ember.Checkbox checkedBinding="soundOnSales"}}
      Beep on sales
    </label>
  </div>
</div>
<div class="row">
  <div class="ten columns offset-by-two">
    <button class="button" {{action save target="controller"}}>Save</button>
  </div>
</div>
<div class="row content">
  <div class="ten columns offset-by-two">
    <a class="button alert" {{action deleteShop target="controller"}} data-confirm="Are you sure? This action cannot be undone.">Delete shop</a>
  </div>
</div>

{{#if isCustomShop}}
  <div class="row content">
    <div class="twelve column">
      <div class="panel callout">
        <h4>Setup for custom shop</h4>

        <p>As you are using ShopStream with your custom, non-Shopify shop, we were not able to set it up for you. Just add the following tag to your template:</p>

        <p><pre>&lt;script type=&quot;text/javascript&quot; src=&quot;{{trackerScriptUrl}}&quot;&gt;&lt;/script&gt;</pre></p>

        <p>Then, track orders via JS like this:</p>

        <p><pre>
_shopstream.addOrder(
  "Order name", // order name, required
  20.02, // order total, required
  "email@customer.com", // customer email, required
  "first", // customer first name, required
  "last" // customer last name, required
);
_shopstream.addItem(
  "Title", // item name, required
  10.01, // item price, required
  2 // item quantity, required
);
_shopstream.trackOrder();
        </pre></p>
      </div>
    </div>
  </div>
{{/if}}
