<div class="scroll con">
  <section class="section current">
    <div class="container top-spacing">
      <h2>Settings</h2>

      <div class="col_3 alpha">
        <div class="input">
          <label>
            Name
            {{view Ember.TextField valueBinding="name"}}
          </label>
        </div>
        <div class="input">
          <label>
            Domain
            {{view Ember.TextField valueBinding="domain"}}
          </label>
        </div>
        <div class="input">
          <label>
            Timezone
            {{view Ember.Select contentBinding="SS.timezones" optionValuePath="content.value" optionLabelPath="content.name" valueBinding="timezone"}}
          </label>
        </div>
        <div class="input">
          <label>
            {{view Ember.Checkbox checkedBinding="sendDailyNotifications"}}
            Send daily reports
          </label>
        </div>

        <div>
          <button {{action save target="controller"}}>Save</button>
        </div>

        <div>
          <button {{action deleteShop target="controller"}} class="red">Delete shop</button>
        </div>
      </div>
    </div>
  </section>
</div>