<div class="scroll con">
  <section class="section current">
    <div class="container top-spacing">
      <h2>Settings</h2>

      <div class="col_3 alpha">
        <div class="input">
          <label>
            Name
            {{view Ember.TextField valueBinding="name"}}
          </label>
        </div>
        <div class="input">
          <label>
            Domain
            {{view Ember.TextField valueBinding="domain"}}
          </label>
        </div>
        <div class="input">
          <label>
            Timezone
            {{view Ember.Select contentBinding="SS.timezones" optionValuePath="content.value" optionLabelPath="content.name" valueBinding="timezone"}}
          </label>
        </div>
        <div class="input">
          <label>
            {{view Ember.Checkbox checkedBinding="sendDailyNotifications"}}
            Send daily reports
          </label>
        </div>

        <div>
          <button {{action save target="controller"}}>Save</button>
        </div>

        <div>
          <button {{action deleteShop target="controller"}} class="red">Delete shop</button>
        </div>
      </div>

      {{#if isCustomShop}}
        <div class="carton col_9">
          <h2>Setup for custom shop</h2>
          <div class="content">
            <p>As you are using ShopStream with your custom, non-Shopify shop, we were not able to set it up for you. Just add the following tag to your template:</p>

            <pre>&lt;script type=&quot;text/javascript&quot; src=&quot;{{trackerScriptUrl}}&quot;&gt;&lt;/script&gt;</pre>

            <p>Then, track orders via JS like this:</p>

            <pre>
_shopstream.addOrder("Order name", $20.02, "email@customer.com", "first", "last");
_shopstream.addItem("Title", $10.01, 2);
_shopstream.trackOrder();
            </pre>
          </div>
        </div>
      {{/if}}
    </div>
  </section>
</div>