<h3>Settings</h3>

<div class="row">
  <div class="two columns">
    <label class="right inline">Shop name</label>
  </div>
  <div class="ten columns">
    {{view Ember.TextField valueBinding="name" placeholder="e.g. My Store" class="five"}}
  </div>
</div>
<div class="row">
  <div class="two columns">
    <label class="right inline">Shop domain</label>
  </div>
  <div class="ten columns">
    {{view Ember.TextField valueBinding="domain" placeholder="e.g. somestore.myshopify.com" class="five"}}
  </div>
</div>
<div class="row">
  <div class="two columns">
    <label class="right inline">Timezone</label>
  </div>
  <div class="ten columns">
    {{view Ember.Select contentBinding="SS.timezones" optionValuePath="content.value" optionLabelPath="content.name" valueBinding="timezone" class="five"}}
  </div>
</div>
<div class="row">
  <div class="ten columns offset-by-two">
    <label class="inline">
      {{view Ember.Checkbox checkedBinding="sendDailyNotifications"}}
      Send daily reports
    </label>
    <label class="inline">
      {{view Ember.Checkbox checkedBinding="soundOnSales"}}
      Beep on sales
    </label>
  </div>
</div>
<div class="row">
  <div class="ten columns offset-by-two">
    <button class="button success radius" {{action save target="controller"}}>Save Changes</button>
  </div>

  <div class="ten columns offset-by-two">
    <hr/>
    <h6>Need to delete this store?</h6>
    <p>Once your store is deleted, all the information captured will be immediately and permanently deleted. If you have a paying account you will not be charged again but you are responsible for any charges already incurred.</p>

    {{#if isCustomShop}}
      <p><b>I understand this is irreversible:</b> <a class="button tiny alert radius" {{action deleteShop target="controller"}}>Delete Shop</a></p>
    {{else}}
      <p>You should delete this store by uninstalling "shopstream" app from your Shopify shop.
    {{/if}}
  </div>
</div>

{{#if isCustomShop}}
  <div class="row content">
    <div class="twelve column">
      <div class="">
        <h4>Tracking Code</h4>
        <div class="panel radius">
          <p>To start using ShopStream, you need to install our javascript tracker in your store. It is really simple, just add the following code to all pages in your website:</p>
          <code>
          <p><pre>&lt;script type=&quot;text/javascript&quot; src=&quot;{{trackerScriptUrl}}&quot;&gt;&lt;/script&gt;</pre></p>
          </code>

          <p>Then, add the tracker to your website checkout:</p>
          <code>
            <p><pre>
var _shopstream = _shopstream || [];

_shopstream.push(['addOrder',
  "Order name", // order name, required
  20.02, // order total, required
  "email@customer.com", // customer email, required
  "first", // customer first name, optional
  "last" // customer last name, optional
]);
_shopstream.push(['addItem',
  "SOME123SKU", // item SKU, required
  "Title", // item name, required
  10.01, // item price, required
  2 // item quantity, required
]);
_shopstream.push(['trackOrder']);
          </pre></p>
        </code>
        </div>
      </div>
    </div>
  </div>
{{/if}}
