<div class="twelve columns">
  {{#collection SS.ShopSelectorCollectionView contentBinding="content"}}
    {{#with view.content}}
      <div class="panel">
        <h5>
          <a {{action goToDashboard this href=true}}>{{name}}</a>
          <small>
            {{#if view.content.isShopifyShop}}
              Shopify shop
            {{else}}
              Non-Shopify shop
            {{/if}}
          </small>
        </h5>
        <h6 class="subheader super-short">
          <strong>{{money totalSalesToday}}</strong> today
          /
          <strong>{{money avgPurchase}}</strong> avg
          /
          <strong>{{percentage conversionRate}}</strong> converted
        </h6>
      </div>
    {{/with}}
  {{/collection}}

  <div class="row">
    <div class="two columns offset-by-five">
      <a {{action goToAddShop href=true}} class="button success twelve">Add shop</a>
    </div>
  </div>
</div>
